*{
  font-family: Poppins;
  font-weight: bold;
}

h2,h3 {
  font-weight: lighter;
}

img{
  border: radius 100%;
  max-block-size: 400px;
  ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0C2D48 ;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #B1D4E0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #145DA0;
    border-radius: 5%;
    
  }

  .active {
    background-color: blue;
    border-radius: 5%;
  }